
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

<div hx-ext="ws" ws-connect="/chatroom">
    <div id="notifications"></div>
    <div id="chat_room">

    </div>
    <form id="form" ws-send>
        <input name="chat_message">
    </form>

    <!-- will be appended to #notifications div -->
    <div id="notifications" hx-swap-oob="beforeend">
        New message received
    </div>
    <!-- will be swapped using an extension -->
    <div id="chat_room" hx-swap-oob="morphdom">
        ....
    </div>
</div>
