
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

<div hx-ext="ws" ws-connect="/chat">
    <div id="notifications"></div>
    <div id="chat_room">
        ...
    </div>
    <form id="form" ws-send>
        <h3>Send a Message</h3>
        <div>
            <input type="text" name="message" style="width:500px;" value="This Is The Message" />
            <input type="submit" value="Send" class="btn primary"/>
        </div>
    </form>
    <br>
    <h3>Receive a Message</h3>
    <div id="idMessage"></div>
</div>
